@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');

@font-face {
	font-family: "Gillroy-Bold";
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: "Gillroy-Medium";
	src: url('./font/Gilroy-Medium.woff2');
}
@font-face {
	font-family: "Gillroy-Semibold";
	src: url('./font/Gilroy-Semibold.woff2');
}
@font-face {
	font-family: "Gillroy-Regular";
	src: url('./font/Gilroy-Regular.woff2');
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

a{
    text-decoration: none;
}

button{
    background: #fff;
    border: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
}

/* Header start*/

.header__content{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.header__nav{
    min-width: 533px;
    margin-left: 346px;
    display: flex;
    justify-content: space-between;
}

.nav__link{
    font-family: "Gillroy-Medium";
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.nav__link:first-child{
    font-family: "Gillroy-Semibold";
    font-size: 14px;
    line-height: 16px;
    color: #F25822;
}

.header__button{
    margin-left: 34px;
    font-family: "Gillroy-Semibold";
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    max-width: 120px;
    padding: 12px 27px;
    border-radius: 30px;
    background: #F25822;
    cursor: pointer;
}

/* Header end*/

/* Main start*/

.main__body{
    display: flex;
    justify-content: space-between;
}

.content__left{}

.main__title{
    font-family: "Gillroy-Bold";
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-top: 148px;
}

.main__subtitle{
    font-family: "Gillroy-Medium";
    font-size: 20px;
    line-height: 23px;
    color: #888888;
    margin-top: 17px;
}

.main__buttons{
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.main__button{
    font-family: "Gillroy-Bold";
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 16px 36px;
    border-radius: 50px;
    background: #F25822;
    cursor: pointer;
    }

.main__button-play{
    margin-left: 63px;
    cursor: pointer;
}

.main__button-text{
    margin-left: 15px;
    font-family: "Gillroy-Bold";
    font-size: 15px;
    line-height: 17px;
    color: #AAAAAA;
}

.content__right{
    margin-top: 88px;
}

.main__footer_logos{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
    margin-top: 104px;
}

/* Main end*/

/* Solution start */

.solution{
    background-color: #FAFAFA;
}

.solution__body{
    max-height: 540px;
    display: flex;
    justify-content: space-between;
}

.solution__left{
    margin-top: 127px;
    max-width: 515px;
}

.subtitle{
    font-family: "Gillroy-Bold";
    color: #000000;
    font-size: 45px;
    line-height: 52px;
}

.solution__subtitle{
    margin-top: 20px;
    margin-bottom: 51px;
    font-family: "Gillroy-Regular";
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}

.solution__right{
    margin-left: -145px;
    margin-right: -100px;
}

/* Solution end */

/* Read__more_cards start */

.read__more_cards_content{
    display: flex;
    gap: 60px;
    margin-top: 100px;
}

.read__more_card{
    padding: 40px 0 0 30px;
    margin-bottom: 100px;
}

.read__more_card:hover{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.card__title{
    margin-top: 25px;
    font-family: "Gillroy-Bold";
    color: #000000;
    font-size: 24px;
    line-height: 28px;
}

.card__text{
    max-width: 310px;
    margin-top: 17px;
    font-family: "Gillroy-Regular";
    color: #666666;
    font-size: 15px;
    line-height: 22.5px;
}

.read__more{
   margin-top: 25px; 
   font-family: "Gillroy-Bold";
   color: #000000;
   font-size: 11px;
   line-height: 16.5px;
   cursor: pointer;
}

/* Read__more_cards end */

/* Choose_us start */

.choose__title{
    margin-top: 40px;
}

.choose__us_subtitle{
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
}

.suptitle{
    font-family: "Gillroy-Regular";
    font-size: 16px;
    color: #666666;
    line-height: 24px;
}

.choose__us_suptitle{
    max-width: 682px;
    margin: 0 auto;
    text-align: center;
}

.choose__cards{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
}

.choose_card{
    text-align: center;
    max-height: 549px;
}

.choose_card:hover{
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.choose__card_text{
    margin: 22px auto 54px;
    text-align: center;
}

.choose__button{
    margin-bottom: 50px;
}

/* Choose_us end */